

.sliderAppel{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #efefef; */

}


.appelProduits{
    padding:50px;
}


/* Card */


a.card{
    
    background-color: #fff;
    display: block;
}


.card-image{
    /* position: relative; */
    width: 100%;

}

.card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content{
    margin-top: 12px;
    padding: 0px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}



/* Description classe */

.nomEtcouleur{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    color: #a1a1a1;
}

.prix{
    font-weight: 600;
}

.nombreAvis{
    color: #a1a1a1;

}

.material-symbols-outlined.star{
    font-size: 18px;
    color:#262626;
}

.material-symbols-outlined.greyStar{
    color: rgb(126, 126, 126);
    font-size: 18px;
}


/* Container  */

.slide-container{
    width:100%;
    /* background-color: grey; */

}

.slide-content{
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}



/* Navigation */

.swiper-nav-button{
    color: rgb(255, 255, 255);
}
.swiper-nav-button:hover{
    color: rgba(255, 255, 255, 0.726);
}



.swiper-nav-button::after{
    /* color: #2626267a; */

    
    padding: 30px 45px;
    border-radius: 50%;
}

.swiper-pagination-bullet{
    background-color: #2626267a;
}



@media(max-width:992px){
    .appelProduits{
        padding:50px 12px;
    }
    
}

@media(max-width:576px){
    .appelProduits{
        padding:30px 12px;
    }
}

