
.containerProduits p{
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    max-width: 800px;
}

#h1Produit{
    margin-bottom: 30px;
}


.categoriesProduits{
    margin-bottom: 0;
}

.containerProduits {
    padding : 80px 0;
}

.avisContainer{
    width: 100%;
    display: flex;
    padding: 0 50px;
    gap: 24px;
}



#h2Produit{
    text-align: center;
    margin-bottom: 80px;

}

.avisClients{
    flex:3;
    background-color:white; 
}


.gridProduits{
    grid-template-columns: repeat(3,1fr)    
}

.cardAvis{
    background-color:white;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow:3px 3px 10px #26262649;
    
}

.avisEtoiles{
    white-space: nowrap;
}

.nameCardeAvis p{
    font-size: 12px;
    font-weight: 600;
    padding: 8px 0;
}

.commentaireAvis p{
    font-size: 16px;
}

.headerCardAvis{
    display: flex;
    align-items: center;
    gap: 12px;
}

.imgCardAvis img{
    width: 55px;
}






.avisFormulaire{
    flex: 1;
    background-color:rgb(235, 235, 235);
    padding: 24px 12px;
    border-radius:8px;
    box-shadow: 3px 3px 10px #26262649;
    position: sticky;
    top : 20px;
    align-self: flex-start;
}
#formAvis{
    max-width: 800px;
    margin: auto;
}

#formAvis input{
    max-width: none;
}
#formAvis .labelRdv textarea{
    max-width: none;
}

.titreAvisForm{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.etoileContainerAvis{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.etoileContainerAvis .avisEtoiles{
    text-align: center;

}

.etoileContainerAvis .avisEtoiles .material-symbols-outlined{
    font-size: 40px;
    cursor: pointer;


}

/* #formAvis #buttonFormulaire{
    align-self:flex-start;
} */

#formAvis #buttonFormulaire a{
    font-size: 14px;

}

@media(max-width:992px){

    .avisContainer{
        padding: 0 18px;
        flex-direction: column;
    }
    .avisFormulaire{
        width: 100%;
        margin:auto;
        flex: auto;
        order: 1;
        position:static;
        margin-bottom: 35px;
        max-width: 70%;
        
    }

    .avisClients{
        order: 2;
        
    }
    .avisClients .gridProduits{
        grid-template-columns: repeat(2,1fr);    
       
    }

}

@media(max-width:576px){
    .gridProduits{
        gap: 8px;
    }
    .cardAvis{
        padding: 12px;
    }

    .headerCardAvis{
        flex-direction: column;
        gap: 0px;
    }

    .containerProduits{
        padding: 35px 0;
    }

    #h2Produit{
        margin-bottom: 35px;
    }

    .avisFormulaire{
        max-width: 100%;
    }
}
@media(max-width:400px){

    .avisClients .gridProduits{
        grid-template-columns: repeat(1,1fr);    
       
    }
}


