.evenementsActualites{
    display: flex;
    flex-direction: column;    
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 42px;
    color: white;
    background-image:url("../img/Actualites/actualites_event.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
}

#eventMainAbout .textAbout {
    flex-direction: column;
    align-items: center;
}

.video video{
    border-radius: 8px;
    width: 100%;
}