


/* NAV */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px 8px 50px ;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease-in;
    border-bottom: #26262633 1px solid;
}


.nav-menu{
    flex:1;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    max-width: 400px;
}

/* Logo */

.nav-branding{
    z-index: 2;
    flex: 1;
    display: flex;

}


.nav-branding img{
    width: 110px;

    
}

/* __________ */


.nav-link{
    transition : 0.7 ease;
    display: flex;
    align-items: center;
    height: 100%;
    
}

.nav-link:hover{
    color:#1e90ff ;
}


/* Arrow menu */


.arrowActive{
    transition: all 0.2s ease-in;
    transform: rotate(90deg);  
}

.nav-link:hover span{
    color: #1e90ff;
}

.nav-item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    padding: 0 8px;
}


/* Sub menu */

.material-symbols-outlined.arrowDown1, 
.material-symbols-outlined.arrowDown2, 
.material-symbols-outlined.arrowDown3{
    font-size: 18px;
}


.nav-item  a:hover {
    color:dodgerblue;
}

.subMenu{
    
    font-size: 14px;
    display: none;
    padding: 0px 18px 18px 18px;
    
}

.subMenu a{
    color: white;
    
}

.nav-item:hover> ul.subMenu{
    display: block;
    position: fixed;
    top: 60px;
    background-color: #262626;
    
}

.subMenu.subActive{
    
    transition: all 0.6s ease-in;
    display: block;
}

/* Sub Items */

.subMenu li{
    padding-top: 18px;
}

/* Hamburger */

.hamburger{
    display: none;
    cursor:pointer;
    margin-left: 20px;

}

.bar{
    display: block;
    width: 25px;
    height: 2px;
    margin : 5px auto;
    transition : all 0.3s ease-in-out;
    background-color: #262626;
}

/* Compte + recherche + panier */

.user{
    
    display: flex;
    flex:1;
    justify-content: flex-end;
    z-index: 2;
   
}

.material-symbols-outlined{
    color: #262626;
}

/* Search */



.userSearch{
    margin-right: 24px;
    display: flex;

    flex: 1;
    background-color: rgb(236, 236, 236);
    border-radius: 30px;
    padding: 0px 3px 0 3px;
    align-items: center;
    min-width: 110px;
}

.search {
    color:#262626;
    padding: 3px 3px 1px 3px;
}

.searching{
    border: none;
    width:100%;
    font-size: 12px;
    background-color: rgb(236, 236, 236);
}

input.searching:focus{
    outline: none;
}

/* Langues */

.local_mall, .langues{
    padding-left: 8px;
}

.local_mall:hover, .langues:hover, .person:hover, .material-symbols-outlined.arrow:hover  {
    color:#1e90ff;
}

.langues{
    font-size: 10px;
    color:#262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.langues:hover > .material-symbols-outlined.arrow {
    color: #1e90ff;
}

.langues p{
    margin-bottom: -2px;
}

.material-symbols-outlined.arrow{
    font-size: 18px;
    margin-top: -2px;
    cursor: pointer;
}

/* Choose language */

.chooseLanguage{
    padding: 5px;
    background-color: rgb(196, 195, 195);
    position: fixed;
    top: 65px;
    border: 0.5px solid #262626;
    color: #262626;
    display:none;
}

.chooseActive{
    display: block;
}


main{
    /* background-color: aliceblue; */
    height: 2000px;
}

@media(max-width:768px){
    
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform : translateY(7px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform : translateY(-7px) rotate(-45deg);
    }


    .nav-menu{
        position:fixed;
        top: -100%;
        gap: 0;
        flex-direction: column;
        justify-content:flex-start;
        /* background-color: #262626; */
        width:100%;
        max-width: none;
        text-align: center;
        transition: 0.6s;
        left:0;
        padding: 0 12px;
    }

    .navbar{
        padding : 5px 12px;
        z-index: 10;
    }

    .nav-branding img {
        width: 90px;
    }


    .nav-item{
        padding: 16px 0;
        height:auto;
        z-index: 1;
    }

    .nav-menu.active{
        
        height: 100vh;
        top:80px;
        width: 100%;
        color: #ffffff;
        background-color: #ffffff;
    }

    .subMenu{
        text-align: left;
        position: relative;
    }

    .nav-item:hover> ul.subMenu{
        position: relative;
        top:0;
    }

    .subMenu li{
        padding-top: 0;
        margin-top: 18px;
    }

    .userSearch{
    
        min-width: auto;
        margin-right: 0px;
        margin: 0 8px;

    }

    .user{
        flex: 5;
    }

    .hamburger{
        margin-left: 8px;
    }

    

    
}

