.pressActualites{
    display: flex;
    flex-direction: column;    
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 42px;
    color: white;
    background-image:url("../img/Actualites/actualites_press.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
}


@media(max-width:576px){
    .pressActualites{
        padding: 60px 12px;
        height: auto;
    }
    
}
