
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Kaushan Script */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    font-size: 18px;
}

li{
    list-style: none;
}

a {
    color : #262626;
    text-decoration: none;
}

.cta  {
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 8px;
    
}

.cta:hover{
    background-color: #464646;
}

.cta a{
    color: white;
    padding: 18px 32px;
    display: block;
    font-size: 18px;   
}

h1, h2, h3, h4{
    font-family: 'Kaushan Script', cursive;
}

h1{
    font-size: 58px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 32px;
}


@media(max-width:992px){
    body{
        font-size: 16px;
    }
    h1{
        font-size: 58px;
    }
    h2{
        font-size: 42px;
    }
    h3{
        font-size: 32px;
    }

    .cta a{
        font-size: 16px;
    } 

}
@media(max-width:576px){
    body{
        font-size: 16px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }

    .cta a{
        font-size: 16px;
    } 

}


