

.fauxMenu{
    height: 90px;
    width: 100%;
    background-color: #efefef;
}
.containerPageProduit{
    display: flex;
    padding: 50px;
    gap: 24px;
    max-width: 1080px;
    margin: auto;
}

.imagePageProduit{
    min-height: 380px;
    max-height: 80vh;

}

.imageProduit{
    margin-right: 0px;
    display: flex;
    justify-content: end;
}

.containerPageProduit .swiper{
    margin-right: 0px;
}

.imageProduit img{
    width: auto;
    height:100%;
    min-height: 600px;
    object-fit: cover;
    display: flex;
    
}


/* Navigation */
.containerPageProduit .swiper-pagination-bullets  { 
margin-right:4px;

}

.containerPageProduit .swiper-pagination-bullet-active{
    background-color:#262626;
}

.swiper-scrollbar-drag{
    width: 2px;
    background-color: #2626269a;
}
.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar{
    width: 2px;
    right: 0;
    top:0;
}

.card{
    width: 300px;
    
}

/* Description produit*/

.descriptionPageProduit{
   
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
    width: 35%;

}

.nomPrixPP{
    display: flex;
    justify-content: space-between;
}


/* Accordeon */

.accordeonPP{
    border: 0.75px solid #26262649 ;
    padding: 8px;
    border-radius: 8px;

}
.accordeonPPTitleIcone{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.titleAccordeonPP{
    font-weight: 600;
}

.accordeonPPPlus{
    font-weight: 600;
    font-size: 20px;
    padding-left: 15px;
    cursor: pointer;
}

.descriptionAccordeonPP{
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear ;
}

/* choix couleurs*/

.couleursDisponibles{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.rondCouleur{
    height: 30px;
    width: 30px;
    background-color: #efefef;
    border-radius: 50%;
}
.choisirTaille{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.choixTaille{
    height: 30px;
    width: 30px;
    background-color: #efefef;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    
}









/* Vous aimerez peut-être */

.containerGlobalPageProduit h2{
    text-align: center;
}





@media(max-width:992px){
    .containerPageProduit{
        padding: 50px 18px;
        flex-direction: column;
        width: 100%;
        max-width: 615px;
        margin: auto;
        
    }

    .containerPageProduit .swiper{
        margin-left: 0;
        
    }

    .imagePageProduit{
        justify-content: center;
        /* min-width: 450px; */
        /* min-height:350px; */
        max-height: 70vh;
    }

   
    .imageProduit {
        margin-right: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .descriptionPageProduit{
        gap: 8px;

    }



    .imageProduit img{
       
        min-height: 100%;
        width:100%;
        /* object-fit: contain; */
        
    }
    




    .descriptionPageProduit{
        width: 100%;
        /* flex: 3; */
        justify-content:flex-start;

    }
    
}
/* 
@media(max-width:570px){
    .containerPageProduit{
        height: 90vh;
    }
}
@media(max-width:470px){
    .containerPageProduit{
        height: 80vh;
    }
}
@media(max-width:370px){
    .containerPageProduit{
        height: 70vh;
    }
}
 */



    @media(max-width:400px){
        /* .imageProduit img{
            min-width:100%;

        } */
    }


@media(max-width:576px){
    .containerPageProduit{
        padding: 35px 0px;
    }
    .descriptionPageProduit{
        padding: 0 12px;
    }
   
}